*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, nav, .logoContainer, .menuContainer, .page1Container, .page1ContentsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------- HEADER - NAVBAR--------- */

header{
    background-color: 	#f93340;
}

nav{
    justify-content: space-between;
    width: 80%;
    padding: 5px;
}

.logoContainer a, .menuContainer a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    transition: 0.5s;
}

.logoContainer a:hover, .menuContainer a:hover{
    color: black;
    background-color: #ffffff;
}

/* ------------------------------------ */

/* ------- PAGE 1 ---------*/

.page1Container{
    height: 100vh;
}

.page1ContentsContainer{
    width: 100%;
    padding: 80px;
}

.Page1textContainer{
    width: 30%;
}
.imgContainer{
    margin-right: 80px;
    position: relative;
    width: 50%;
}

.imgContainer img{
    width: 100%;
    min-width: 200px;
    max-width: 800px;
}

.imgContainer::before{
    position: absolute;
    content: "";
    width: 90%;
    height: 125%;
    background-color: 	#f93340;
    z-index: -1;
    top: -13%;
    left: -30px;
    min-width: 200px;
    max-width: 800px;    
}


.Page1textContainer h1{
    font-size: 55px;
    color:	#f93340;
    position: relative;
    left:-3px;
}

.Page1textContainer h4{
    font-size: 20px;
    color: 	#f93340;
    letter-spacing: 5px;
    font-weight: 500;
    margin-top: -8px;
    margin-bottom: 30px;
}

.Page1textContainer p {
    color: #004780;
    line-height: 25px;
}

.Page1textContainer span{
    position: relative;
}

.Page1textContainer span::before{
    content: "";
    position: absolute;
    left: 4px;
    top: -10px;
    width: 100%;
    height: 9px;
    background-color: 	#f93340;

}

.buttonContainer{
    padding: 20px 50px;
    background-color: 	#f93340;
    display: inline-block;
    margin-top: 30px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:1300px){
    
.Page1textContainer h1{
    font-size: 40px;
}

.Page1textContainer h4{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.Page1textContainer p {
    font-size: 15px;
}

.Page1textContainer span::before{
    left: 2px;
    height: 6px;

}

.buttonContainer{
    padding: 12px 20px;
}

}

@media only screen and (max-width:900px){
    
    .Page1textContainer h1{
        font-size: 30px;
    }
    
    .Page1textContainer h4{
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    
    .Page1textContainer p {
        font-size: 15px;
    }
    
    .Page1textContainer span::before{
        left: 2px;
        height: 4px;
    
    }
    
    .buttonContainer{
        padding: 10px 15px;
    }
    
    }

    @media only screen and (max-width:680px){
    
        .page1ContentsContainer{
            display: flex;
            flex-direction: column;
        }
        
        .Page1textContainer{
            width: 100%;
            margin-top: 100px;
        }
        .menuContainer a{
            display: none
        }

        .menuContainer a:nth-child(5){
            display: block!important;
        }

    }

/* ---------------------- */

/* SERVİCES */

@import url('https://fonts.googleapis.com/css2?family=Fjalla One&family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans',sans-serif;
}

.textContainer h2{
    margin-bottom: 30px;
    font-size:40px;
    color: #2e2f33;
}

.textContainer p{
    color:#808080;
    text-align: center;
    width: 80%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.card p{
    width: 300px;
    margin: 10px 0px;
    color:#808080;
    font-style: italic;
    line-height: 25px;
}

.card h5{
    font-size: 20px;
    margin: 10px 0px;
    color: #2e2f33;
    font-weight: 600;
    font-family: Montserrat,sans-serif;
}

.card img{
    width: 100px;
    margin: 10px 0px;
}

.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 50px;
}

.page2Container,.midContainer, .textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.textContainer{
    margin-bottom: 50px;
}


.page2Container{
    height: 100vh;
    background-color: #FFFFFF;
}

@media screen and (max-width:850px) {

    .midContainer{
        margin-top:800px ;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .card p{
        font-size: 20px;
        width: 300px;
        margin: 10px 0px;
        color:#808080;
        font-style: italic;
        line-height: 25px;
    }
    
    .card h5{
        font-size: 40px;
    }
    
    .card img{
        width: 200px;
    }
    
    
}

/*----------------------------*/